[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = suggestion

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = none
